Package: pink.kirameki.yuzu.iosdiscordpresence
Name: iOS-DiscordPresence
Version: 0.0.1
Architecture: iphoneos-arm
Description: Jailbreak tweak that implements Discord Playing Presence like Samsung Game Launcher
Maintainer: YuzuZensai
Author: YuzuZensai
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
